<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Kemon Weaving App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
    <div class="jumbotron">
        <h1>Kemon is for weavers</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/kemon/create" role="button">Try</a> <!--<a class="btn btn-lg btn-success" href="showLogin" role="button">Login</a>-->
        </p>
    </div>
 
    <footer class="footer">
        <p>&copy; balamkej 13.0.4.3.11</p>
    </footer>
    
    </div>
    </div>
</body>
 
</html>
